:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

mat-drawer {
  width: 280px;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; 
  z-index: 10;
}


.is-mobile .toolbar {
  position: fixed;
  height: 56px;
  z-index: 2;
}

.toolbar {
  height: 56px;
  z-index: 2;
}
.sidenav {
  width: 250px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-list-base {
  padding-top: 0px !important;
}

.mat-expansion-panel-spacing {
  margin: 0px !important;
}

.mat-expansion-panel-header {
  padding: 0 16px !important;
}

.mat-expansion-panel-body {
  padding: 0 0px 0px !important;
}

.sublist-1{
  padding: 0 16px !important;
  box-sizing: border-box !important;
}